/* YOUR OWN CSS */
#map {
	height: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.warning {
  position: absolute;
  margin: auto;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 5px solid white;
  background-color: yellow;
  overflow: hidden;
  animation: pulse 1.5s ease-out infinite;
  z-index: 1000002;
}
.sector {
	position: absolute;  
	top: 0;   
	right: 0;  
	width: 50%;  
	height: 50%;  
	transform-origin: 0% 100%;  
}
.sector:nth-child(1) {
	transform: rotate(30deg) skewY(-30deg);  
	background: black; 
}
.sector:nth-child(2) {
	transform: rotate(-90deg) skewY(-30deg);  
	background: black; 
}
.sector:nth-child(3) {
	transform: rotate(-210deg) skewY(-30deg);  
	background: black;
}
@-webkit-keyframes pulse {
	0% {
		transform: scale(0.6);
		-webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 1);
	}
	70% {
		transform: scale(0.9);
		-webkit-box-shadow: 0 0 0 15px rgba(255,0,0, 0);
	}
	100% {
		transform: scale(0.6);
		-webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
	}
}
@keyframes pulse {
	0% {
	transform: scale(0.6);
		-moz-box-shadow: 0 0 0 0 rgba(255,0,0, 1);
		box-shadow: 0 0 0 0 rgba(255,0,0, 1);
	}
	70% {
		transform: scale(0.9);
		-moz-box-shadow: 0 0 0 15px rgba(255,0,0, 0);
		box-shadow: 0 0 0 15px rgba(255,0,0, 0);
	}
	100% {
		transform: scale(0.6);
		-moz-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
		box-shadow: 0 0 0 0 rgba(255,0,0, 0);
	}
}